<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ranking table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
     tr:nth-child(even) {
    background-color: #dddddd;
    }
    th{
      color: #039be5;
    }
    h2{
      color: #039be5;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Ranking Page</h2>
  <table class="table table-bordered"  style="width:50%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Percentage(%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="25%">John</td>
        <td width="25%">100%</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>70%</td>
      </tr>
      <tr>
        <td>July</td>
        <td>30%</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

